body{
  /* background-color: lavender; */
  background-image: url('https://media.istockphoto.com/id/965139598/vector/ultra-violet-white-wavy-background-ombre-pastel-gradient-abstract-cute-spring-texture-waved.jpg?s=612x612&w=0&k=20&c=qKoqJ6YAMOcyjiKrxMt7GMGSamlHp9ar4y0yq4DA4kE=');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
  gap: 1em;
  overflow: hidden;
}
.card,#card{
  background-color: purple;
  height: auto;
  width: auto;
  padding: 2em;
  border-radius: 12px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  display: none;

}
#root,a{
  color: aliceblue;
  font-size: 1.2em;
}
input[type='text'],input[type='button']{
  font-size: 1.2em;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  padding: 1em;
  text-align: center;

}
input[type='text']:hover{
border: 2px solid purple;
}
input[type='button']{
background-color: purple;
color: lavender;

}
