
body {
  background-image: url('https://media.istockphoto.com/id/965139598/vector/ultra-violet-white-wavy-background-ombre-pastel-gradient-abstract-cute-spring-texture-waved.jpg?s=612x612&w=0&k=20&c=qKoqJ6YAMOcyjiKrxMt7GMGSamlHp9ar4y0yq4DA4kE=');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
  gap: 1em;
  overflow: hidden;
  margin: 0; /* Remove margin to avoid white space */
}

.card {
  background-color: purple;
  max-width: 400px; /* Limit card width for readability */
  padding: 2em;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  display: none;
  text-align: center; /* Center card content */
  color: lavender; /* Text color for card content */
}

#root, a {
  font-size: 1.2em;
  text-decoration: none; /* Remove underline from links */
}

input[type='text'], input[type='button'] {
  font-size: 1.2em;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  padding: 1em;
  text-align: center;
  color: lavender; /* Text color for input elements */
}

input[type='text']:hover {
  border: 2px solid purple;
}

input[type='button'] {
  background-color: purple;
  color: lavender;
  cursor: pointer; /* Add pointer cursor to button for usability */
}
